<nav>

 <h1><a href="/">{{ title }}</a></h1>
    <ul>
        <li><a href="/fenit">Tralee-Fenit Greenway</a></li>
        <li><a href="/fenit_pitstops">Tralee-Fenit Pitstops</a></li>
        <li><a href="/fenit_pubcrawl">Tralee-Fenit Pubs</a></li>
    </ul>
  </nav>