<nav>

 <h1><a href="/">{{ title }}</a></h1>
    <ul>
        <li><a href="/tralee">Tralee Cycle Network</a></li>
        <li><a href="/fenit">Tralee-Fenit Greenway</a>
            <ul>
              <li><a href="/fenit-v1">Tralee-Fenit Greenway v1.0</a></li>
            </ul>
        </li>
        <li><a href="/fenit_pitstops">Tralee-Fenit Pitstops</a></li>
        <li><a href="/fenit_pubcrawl">Tralee-Fenit Pubs</a></li>
    </ul>
  </nav>